h1{    font-family: 'Segoe UI',sans-serif;
    font-size: 2rem ;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    line-height: 1.5;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    letter-spacing: 0.5px;
}


    body{
     background-color: #0a1152;
     color: #ffffff;
     font-family: sans-serif;
     height: 100%;
     margin: 0;
     padding: 0;
}

.click-btn{
    position: absolute;
    top: 5px;
    margin-top: 500px;
    display: flex;
    flex-wrap: wrap;
}
.a-btn a{
    background-color: #9d4edd;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    margin-right:  20px;
    box-sizing: border-box;
    margin: 20px ;
    padding: 5px 10px;
    top: 20px;
    left: 20px;
    text-align: center;
}
a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.a-btn{
    position: absolute;
    top: 20px;
    right: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 0 0 5px #8a2be2;
    display: flexbox;
    place-items: center;
}
.left-sidebar a{
    text-decoration: none;
    border-right: 1px solid;
    display: block;
    width: 70px;
    font-size: 20px;
    height: 10px;
    padding: 30px;
    font-weight: bold;

}
.left-sidebar{
    position: absolute;
    top: 20px;
    padding-top: 20px;
    margin-top: 80px;
    color: #000000;
    margin-right: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    border-radius: 10px;

}

   
.left-sidebar a:hover{
    background-color: #d3d3d3;
    color: #000000;
    border-radius: 10px;
}
.a-btn a:hover{
    background-color: #f9fafc;
    color: #000102;
}
.main-content video{
    width: 400px;
    height: 99vh;
    margin-left: 500px;
    border-radius: 20px;
    margin-top: 2px;
}
*{
    color: #f4f7fa;
}
.trend-btn a {
    color: #f4f7fa;
    text-decoration: none;
    display: block;
    width: 120px;
    height: 20px;
    line-height: 1.5;
  
 
}
.trend-btn li{
    list-style-type: square;
    text-decoration: none;
    color: #ffffff;
    
}
ul{
    list-style-type: none;


}
.trend-btn{
    position: absolute;
    top: 20px;
    right: 50px;
    padding-top: 50px;
    margin-top: 40px;   

}



.name-user{ 
       position: absolute;    right: 20px;  
       top: 20px; 
       margin-top: 340px;}
.name-user li{   
      color: #c0c0c0;  
      font-size: 14px;    
}
.name-user button{  
    background-color: #9d4edd;

    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #8a2be2;
}

.click-btn{
    margin-left:500px ;
}
.foter{
    position: absolute;
    top: 2px;
    margin-top: 500px;
    margin-left: 30px;
    word-spacing: 5px;
    font-weight: bold;
    }
    .foter a:hover{
        color: #ffffff;
        text-decoration: underline;
        text-decoration: 0.3s;
    }
#head{
    position: absolute;
    top: 2px;
    margin-top: 600px;
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.foter a{
    text-decoration: none;
    color: #ffffff
}
 .trend-btn a:hover{
    color: #ffffff;
    transition: 0.3s;
    text-decoration: underline;
    
}
h2{
    backdrop-filter: blur(20px);
    border-radius: 5px;
    color: #ffffff;
   }
 body {
    counter-reset: section-count;
}
h2{
    counter-increment: secton-count;
}
.tiktok-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20px;
    right:  30px;
    gap: 25px;
    background: #0a1152;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 8px #8a2be2;
    padding: 15px;
    border-radius:50px ;
    margin-top: 300px;
    margin-right: 360px;
}
.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
}
.heart{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #ff0000;
    transform: rotate(-45deg);
    cursor: pointer;
    transition: 0.3s;
}
.heart::before, .heart::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ff0000;
    border-radius: 50%;
}
.heart::before{
    top: -12px;
    left: 0;
}
.heart::after{
   left: 12px;
   top: 0;
}
.heart:hover{
    transform: rotate(-45deg) scale(1.2);
}
.comment{
    width: 28px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}
.comment::after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 5px;
    border-width: 7px 7px 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    
}
.share-arrow{
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid #fff;
    position: relative;
    margin-left: 10px;

}
.share-arrow::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 8px;
    background-color: #fff;
    left: -24px;
    top: -4px;
    border-radius: 2px;
}
